<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Links</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .button-container {
            text-align: center;
        }
        .button {
            display: inline-block;
            width: 220px;
            height: 150px;
            line-height: 80px;
            border-radius: 25%;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 40px;
            padding-top: 60px;
            font-weight: bold;
            margin: 10px;
            transition: all 0.3s ease-in-out;
        }
        .button:hover {
            background-color: #45a049;
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <div class="button-container">
        <a href="https://www.binance.com/en-IN" class="button" target="_blank">Binance</a>
        <a href="https://wazirx.com/" class="button" target="_blank">WazirX</a>
    </div>
</body>
</html>